* {
    box-sizing: border-box;
    font-family: "Helvitica", "Roboto", "Arial", "Open Sans", "sans-serif";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Arial", sans-serif;
}

.foto img:hover {
    box-shadow: 10px 10px 20px gray;
}

.taaltabel tr:nth-child(odd) {
    background: lightgrey;
}

.taaltabel tr:nth-child(even) {
    background: floralwhite;
}

.taaltabel td {
    padding: 5px;
}

.taal {
    font-weight: bold;
}
.werkplek {
    margin-bottom: 10px;
    padding: 12px;
    background: floralwhite;
}